<div class="container">
  <div class="row">
    <div class="top col-md-12">
      <h1>
        映画は人生だ！！
      </h1>
      <p>
        映画は人生を豊かにしてくれます。その感動は面白さを、他人と共有することで、さらに人生は豊かになると思っています。<br>
        コメディでも、ファンタジーでも、サスペンスでも、ジャンルを問わず、皆さんの好きな映画を共有してください。
      </p>
    </div>
  </div>
</div>
